.food {
  top: 0;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  padding: 15px;
  gap: 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;

  opacity: 0;
  transition: 0.5s;
  transition: 0.5s;
  transform: translateY(40px);
  animation: fadeUp 0.7s ease forwards;
}

@keyframes fadeUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.food h1 {
  font-family: "Italianno", cursive;
  font-weight: bolder;
  font-size: 45px;
  text-align: center;
}

.supporttext {
  text-align: center;
  font-style: italic;
}

.foodcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
}

.firstfood {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  gap: 5px;

  opacity: 0;
  transition: 0.5s;
  transform: translateX(60px);
  animation: fadeUp 1.3s ease forwards;
}

.food1 {
  padding: 15px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.12);
  /* background-color: #e4e4e4; */
  /* backdrop-filter: blur(10px); */
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.19);
  transition: 0.5s ease;
}

.food1:hover {
  transform: translateY(-4px);
}

.food1 img {
  height: 410px;
  width: 390px;
  border-radius: 20px;
}

.secondfood {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  gap: 5px;

  opacity: 0;
  transition: 0.5s;
  transform: translateX(-60px);
  animation: fadeUp 1.3s ease forwards;
}

@media (max-width: 900px) {
  .firstfood,
  .secondfood {
    flex-wrap: wrap;
  }

  .food1 img {
    width: 100%;
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 500px) {
  .firstfood,
  .secondfood {
    flex-direction: column;
  }
}
